name: Build and Push Airflow Image

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Build Docker image
      #   run: |
      #     IMAGE="ghcr.io/${{ github.repository_owner }}/airflow:${{ github.sha }}"
      #     docker build -t $IMAGE .

      - name: Build Docker image
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          docker build -t ghcr.io/$OWNER/airflow:${{ github.sha }} .


      - name: Push Docker image
        run: |
          IMAGE="ghcr.io/${{ github.repository_owner }}/airflow:${{ github.sha }}"
          docker push $IMAGE

      # - name: Output image tag
      #   run: echo "Image pushed: ghcr.io/${{ github.repository_owner }}/airflow:${{ github.sha }}"
